/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: local("Fonts"),
  url("../fonts/PTSans.woff2") format("woff2");
url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("Fonts"),
  url("../fonts/PTSans-Bold.woff2") format("woff2");
url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-extra-gray: #333333;
  --basic-white: #ffffff;
  --basic-light: #F2F2F2;
  --basic-light-gray: #EEEEEE;
  --basic-dark-gray: #666666;

  --special-blue: #81b3d2;
  --special-blue-extra: #669EC0;
  --special-blue-dark: #5496BD;
  --special-brown-light: #766357;
  --special-brown: #604E43;
  --special-brown-dark: #503E33;
  --special-dark: #231F20;
  --special-blue-gray: #BDBBBC;
  --special-gray-line: #E5E5E5;;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.thin-text {
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  font-size: 21px;
}

.gray-text {
  color: var(--basic-extra-gray);
}

.high-line {
  line-height: 26px;
}

.main-header {
  width: 1200px;
  height: 56px;
  margin: 0 auto;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}


/* Main navigation */

.main-navigation {
  background-color: var(--basic-white);
  position: relative;
}

/* Site navigation */

.site-list-navigation {
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 15px 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  box-sizing: border-box;
}

.site-item {
  text-align: center;
}

.site-item:first-child {
  text-align: left;
}

.site-item:last-child {
  text-align: right;
}

.site-item:nth-child(3) {
  grid-column-start: 4;
}

.navigation-item {
  color: var(--basic-black);
}

.navigation-item:hover {
  color: var(--special-blue);
}

.navigation-item:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.active-page {
  color: var(--special-brown-light);
}

/*Conteiner*/

.welcome-image {
  margin: 0 auto;
  background-image: url(../img/background_photo.jpg);
  width: 1200px;
  height: 509px;
  position: relative;

}
.welcome-text {
  width: 457px;
  height: 351px;
  padding: 78px 372px 25px;

}
.welcome-image::after {
  content: "";
  position: absolute;
  background: url(../img/Shape.svg);
  width: 1200px;
  height: 57px;
  bottom: 0;


}

.promo {
  padding: 45px;
  margin: 0;
}

.promo-slogan {
  margin: 0 300px 34px;
}

.promo-text {
  margin: 16px 0;
}

/* Features */

.features {
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
}

.feature-item-big {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-img-first {
  grid-column-start: 2;
  grid-column-end: 4;
}

.feature-img-second {
  grid-column-start: 1;
  grid-column-end: 3;
}

.feature-item .title {
  position:relative;
}

.house::before {
  content: "";
  height: 76px;
  width: 75px;
  background: url(../img/icon-1.svg) no-repeat;
  position: absolute;
  bottom: 50px;
  left: 40%;
}

.food::before {
  content: "";
  height: 70px;
  width: 75px;
  background: url(../img/icon-3.svg) no-repeat;
  position: absolute;
  bottom: 50px;
  left: 41%;
}
.souvenirs::before {
  content: "";
  height: 77px;
  width: 64px;
  background: url(../img/icon-2.svg) no-repeat;
  position: absolute;
  bottom: 50px;
  left: 42%;
}
.full-w {
  grid-column-start: 1;
  grid-column-end: 4;
  box-sizing: border-box;
  margin: 160px auto 82px;
}

.features-desc-mini {
  padding: 0 40px;
}

.feature-blue {
  color: var(--basic-white);
  background-color: var(--special-blue);
  padding: 43px;
}

.feature-subtitle {
  margin: 0 55px;
}

.number {
  margin: 25px auto;
}

.feature-gray {
  background-color: var(--basic-light-gray);
  margin: 0;
  padding-top: 47px;
  min-height: 256px;
  box-sizing: border-box;
  text-align: center;
}

.feature-subtitle-gray {
  padding: 0 130px;
  margin: 0;
}

.features-desc {
  padding: 0 71px;
}

/*Appointment*/

.appointment {
  text-align: center;
  padding-top: 58px;
}

.appointment-title {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
}

.appointment-info {
  line-height: 24px;
  margin: 4px auto 24px;
  padding-top: 15px;
  text-align: center;
}

/*Button*/

.button {
  padding: 3px 17px 3px 16px;
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.button-big {
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
}

.button-brown {
  background-color: var(--special-brown-light);
}

.button-brown:hover {
  background-color: var(--special-brown);
}

.button-brown:active {
  background-color: var(--special-brown-dark);
}

/*Footer*/

.main-footer {
  background-color: rgba(var(--basic-white), 0.9);
  box-sizing: border-box;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-address {
  width: 400px;
  text-align: center;
  margin: 23px auto 36px;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-phone {
  margin-top: 10px;
}

.social-list {
  text-align: center;
}

.social-item-button {
  color: var(--basic-white);
  background-color: var(--special-blue);
}

.social-item-button:hover {
  background-color: var(--special-blue-extra);
}

.social-item-button:active {
  background-color: var(--special-blue-dark);
}

.text-copyright {
  line-height: 26px;
  font-weight: 400;
}

/* Стилизация внутренней страницы*/

/*Flex*/

.sorting {
  display: flex;
  padding: 29px 73px 31px 73px;
}

.sorting-title {
  margin: 0 42px 0 0;
  padding: 0;
}

.sorting-subtitle {
  margin: 2px 40px 0 0;
  padding: 0;
}

.assortment-list {
  display: flex;
  margin: 0;
  padding-top: 3px;
  list-style: none;
}

.assortment-item {
  display: flex;
  margin-right: 32px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--special-blue);
}

.assortment-item:hover {
  color: var(--special-blue);
  opacity: 1;
}

.assortment-item:active {
  color: var(--basic-black);
  border-bottom-style: none;
}

.active-item {
  color: var(--special-blue);
  border-bottom-style: none;
  opacity: 1;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-item {
  width: 100%;
  border-top: 1px solid var(--special-gray-line);
  border-bottom: 1px solid var(--special-gray-line);
  display: flex;
  padding: 30px 73px;
}

.hotels-foto {
  width: 135px;
  height: 90px;
  margin-right: 29px;
}

.type-price {
  display: flex;
}

.type-price-text {
  width: 107px;
  margin: 5px 9px 15px 0;
}

.hotels {
  margin: 0;
  padding: 0;
  color: var(--basic-black);
}

.hotels-info {
  display: flex;
  flex-direction: column;
}

.result-buttons a {
  margin-right: 6px;
}

.rating-text {
  padding: 3px 12px 3px 15px;
  margin: 0;
  text-align: center;
  color: var(--basic-dark-gray);
  background-color: var(--basic-light);
}

.hotels:hover {
  color: var(--special-blue);
}

.hotels:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.rating-block {
  margin-left: auto;
  align-self: flex-end;
}

/*Button*/

.button-blue {
  background-color: var(--special-blue);
}

.button-blue:hover {
  background-color: var(--special-blue-extra);
}

.button-blue:active {
  background-color: var(--special-blue-dark);
}

