/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: local("Fonts"),
  url("../fonts/PTSans.woff2") format("woff2");
url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("Fonts"),
  url("../fonts/PTSans-Bold.woff2") format("woff2");
url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-extra-gray: #333333;
  --basic-white: #ffffff;
  --basic-light: #F2F2F2;
  --basic-light-gray: #EEEEEE;
  --basic-dark-gray: #666666;

  --special-blue: #81b3d2;
  --special-blue-extra: #669EC0;
  --special-blue-dark: #5496BD;
  --special-brown-light: #766357;
  --special-brown: #604E43;
  --special-brown-dark: #503E33;
  --special-dark: #231F20;
  --special-blue-gray: #BDBBBC;
  --special-gray-input: #EBEBEB;
  --special-gray-line: #E5E5E5;
  --special-gray: #CACACA;
  --special-gray-disabled: #6A6A6A;
  --special-gray--controls: #ABABAB;
  --special-white: rgba(255, 255, 255, .3);
  --special-gray--shadow: rgba(177, 177, 177, .3);
}

/* Global */
.page {
  height: 100%;
  background-color: var(--basic-light);
}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;

}

.home-body {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.thin-text {
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  font-size: 21px;
}

.gray-text {
  color: var(--basic-extra-gray);
}

.high-line {
  line-height: 26px;
}

.main-header {
  width: 1200px;
  height: 56px;
  margin: 0 auto;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  position: absolute;
  z-index: 1;
}

/* Main navigation */

.main-navigation {
  background-color: var(--basic-white);
  position: relative;
}

/* Site navigation */

.site-list-navigation {
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 15px 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  box-sizing: border-box;
}

.site-item {
  text-align: center;
}

.site-item:first-child {
  text-align: left;
}

.site-item:last-child {
  text-align: right;
}

.site-item:nth-child(3) {
  grid-column-start: 4;
}

.navigation-item {
  color: var(--basic-black);
}

.navigation-item:hover {
  color: var(--special-blue);
}

.navigation-item:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.active-page {
  color: var(--special-brown-light);
}

/*Conteiner*/

.welcome-image {
  margin: 0 auto;
  background-image: url(../img/background1.jpg);
  width: 1200px;
  height: 509px;
  position: relative;
}

.welcome-text {
  width: 457px;
  height: 351px;
  padding: 78px 372px 25px;
}

.welcome-image::after {
  content: "";
  position: absolute;
  background: url(../img/Shape.svg);
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.promo {
  padding: 45px;
  margin: 0;
}

.promo-slogan {
  margin: 0 300px 34px;
}

.promo-text {
  margin: 16px 0;
}

/* Features */

.features {
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
}

.feature-item-big {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-img-first {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 800px;
  height: 256px;
}

.feature-img-second {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 800px;
  height: 256px;
}

.feature-item .title {
  position: relative;
}

.house::before {
  content: "";
  height: 76px;
  width: 75px;
  background: url(../img/icon-1.svg) no-repeat;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

}

.food::before {
  content: "";
  height: 70px;
  width: 75px;
  background: url(../img/icon-3.svg) no-repeat;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.souvenirs::before {
  content: "";
  height: 77px;
  width: 64px;
  background: url(../img/icon-2.svg) no-repeat;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

}

.full-w {
  grid-column-start: 1;
  grid-column-end: 4;
  box-sizing: border-box;
  margin: 160px auto 82px;
}

.features-desc-mini {
  padding: 0 40px;
}

.feature-blue {
  color: var(--basic-white);
  background-color: var(--special-blue);
  padding: 43px;

}

.feature-subtitle {
  margin: 0 55px;
}

.number {
  margin: 25px auto;
}

.feature-gray {
  background-color: var(--basic-light-gray);
  margin: 0;
  padding-top: 47px;
  min-height: 256px;
  box-sizing: border-box;
  text-align: center;
}

.feature-subtitle-gray {
  padding: 0 130px;
  margin: 0;
}

.features-desc {
  padding: 0 71px;
}

/*Search*/

.search-hotels {
  text-align: center;
  padding-top: 58px;
}

.search-title {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
}

.search-info {
  line-height: 24px;
  margin: 4px auto 24px;
  padding-top: 15px;
  text-align: center;
}

.search-form {
  width: 568px;
  height: 395px;
  padding: 55px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: var(--basic-white);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  position: absolute;
  left: 317px;
}

.input-data-wrapper {
  display: flex;
  width: 346px;
  height: 38px;
  background-color: var(--basic-light);
  align-items: center;
  position: relative;
}

.search-input-data {
  background-color: transparent;
  border: none;
  outline: none;
  width: 346px;
  height: 38px;
  margin: 0;
  padding-left: 12px;
}

.search-input-data::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  line-height: 26;
}

.search-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.label-text {
  line-height: 26px;
  padding-top: 7px;
  margin: 0;
  height: 24px;
}

.calendar {
  margin-left: 90%;
  position: absolute;
}

.search-number-people {
  display: flex;
  justify-content: space-between;
}

.input-number-wrapper {
  display: flex;
  justify-content: space-between;
  width: 114px;
  height: 38px;
  background-color: var(--basic-light);
  align-items: center;
  padding: 6px 12px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 40px;
}

.search-number {
  display: flex;
}

.button-number {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  width: 38px;
  height: 38px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.search-input-number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  width: 36px;
  height: 26px;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
}

.button-search {
  margin-top: 54px;
  padding: 16px 182px;
  width: 458px;
  height: 58px;
  line-height: 26px;
  font-size: 21px;
}

.input-data-wrapper:hover {
  background-color: var(--special-gray-input);
}

.search-input-data:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-gray-line);
  outline: none;
}

.calendar:hover path {
  fill: var(--basic-black);
}

.calendar:active path {
  fill: var(--special-blue);
}

.plus:hover path {
  fill: var(--basic-black);
}

.plus:active path {
  fill: var(--special-blue);
}

.minus:hover rect {
  fill: var(--basic-black);
}

.minus:active rect {
  fill: var(--special-blue);
}

/*Button*/

.button {
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.button-mini {
  padding: 3px 17px 3px 16px;
}

.button-big {
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
}

.button-brown {
  background-color: var(--special-brown-light);
}

.button-brown:hover {
  background-color: var(--special-brown);
}

.button-brown:active {
  background-color: var(--special-brown-dark);
  color: var(--special-white);
}

/*Map*/
.map {
  width: 1199px;
  height: 594px;
  border: 1px solid var(--basic-black);
  /*display: block;*/

}

/*Footer*/

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 23px 0 36px;
}

.home-footer {
  position: absolute;
}

.footer-contacts {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hashtag {
  padding-left: 45px;
}

.phone {
  margin-top: 9px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 150px;
  padding-top: 5px;
  margin: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--special-blue);
}

.social-button:hover {
  background-color: var(--special-blue-extra);
}

.social-button:active {
  background-color: var(--special-blue-dark);
}

.social-button:active path {
  fill-opacity: 0.3;
}

.footer-copyright {
  display: flex;
  width: 196px;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 39px;
}

.copyright:hover path {
  fill: var(--special-blue);
}

.copyright:active path {
  fill: var(--special-blue-gray);
}

.text-copyright {
  line-height: 26px;
  font-weight: 400;
}

/* Стилизация внутренней страницы*/

/*Flex*/

.sorting {
  display: flex;
  padding: 29px 73px 31px 73px;
}

.sorting-title {
  line-height: 26px;
  margin: 0 50px 0 0;
  padding: 0;
}

.sorting-subtitle {
  line-height: 18px;
  margin: 4px 40px 0 0;
  padding: 0;
}

.sorting-controls {
  display: flex;
  margin: 0 0 0 auto;
  justify-content: space-between;
  width: 34px;
}

/*Не уверена что сделала верно.
Задала свойство ссылке только стрелочке вверх, по макету вторая нажата, соответственно не активная.
Нужно задать свойство общему классу стрелок и что-то сделать с не активной, или так верно?
Получается что если так, то много лишних кассов. Нужет совет, классы никакие не убирала */
.ascending path {
  font: var(--special-gray);
}

.ascending:hover path {
  fill: var(--basic-black);
}

.ascending:active path {
  fill: var(--special-blue);
}

.assortment-list {
  display: flex;
  margin: 0;
  padding-top: 3px;
  list-style: none;
}

.assortment-item {
  display: flex;
  margin-right: 32px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--special-blue);
}

.assortment-item:hover {
  color: var(--special-blue);
  opacity: 1;
}

.assortment-item:active {
  color: var(--basic-black);
  border-bottom-style: none;
}

.active-item {
  color: var(--special-blue);
  border-bottom-style: none;
  opacity: 1;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-item {
  width: 100%;
  border-top: 1px solid var(--special-gray-line);
  border-bottom: 1px solid var(--special-gray-line);
  display: flex;
  padding: 30px 73px;
}

.hotels-foto {
  width: 135px;
  height: 90px;
  margin-right: 29px;
}

.type-price {
  display: flex;
}

.type-price-text {
  width: 107px;
  margin: 5px 9px 15px 0;
}

.hotels {
  margin: 0;
  padding: 0;
  color: var(--basic-black);
}

.hotels-info {
  display: flex;
  flex-direction: column;
}

.result-buttons a {
  margin-right: 3px;
}

/*Button*/

.button-blue {
  background-color: var(--special-blue);
}

.button-blue:hover {
  background-color: var(--special-blue-extra);
}

.button-blue:active {
  background-color: var(--special-blue-dark);
  color: var(--special-white);
}

.rating-text {
  padding: 3px 12px 3px 15px;
  margin: 0;
  text-align: center;
  color: var(--basic-dark-gray);
  background-color: var(--basic-light);
}

.hotels:hover {
  color: var(--special-blue);
}

.hotels:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.rating-block {
  margin-left: auto;
  align-self: flex-end;
}

.stars-list {
  padding-bottom: 47px;
  display: flex;
  justify-content: flex-end;
}

.star {
  margin-right: 5px;
}

.star:last-child {
  margin-right: 0;
}

.filters {
  background-image: url(../img/background.jpg);
  width: 1200px;
  height: 217px;
}

.filter-category {
  display: flex;
  padding: 27px 73px 31px;
}

.filter {
  border: none;
  padding: 0;
  margin: 0;
}

.type-housing {
  padding-left: 117px;

}

.filter-title {
  margin-bottom: 24px;
  font-size: 16px;
  color: var(--basic-white)
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 400;
  color: var(--basic-white);
}

.filter-option {
  margin-bottom: 25px;
  position: relative;
  margin-left: 42px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.checkbox-no-checked::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -42px;
  background-image: url(../img/no-checked.svg);
  background-repeat: no-repeat;
}

.checkbox-checked::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -42px;
  top: 1px;
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  left: -38px;
  top: 2px;
  background-image: url(../img/check_mark.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked:disabled + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -42px;
  top: -5px;
  background-image: url(../img/checked_disabled.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  left: -38px;
  top: -4px;
  background-image: url(../img/chek_mark_disabled.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -42px;
  top: -5px;
  background-image: url(../img/checked_no_disabled.svg);
  background-repeat: no-repeat;
}


.cost {
  margin-left: auto;
}

.cost-title {
  margin-bottom: 0;
}

.price-controls {
  box-sizing: border-box;
  display: flex;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  padding: 7px 32px 8px 52px;
  position: relative;

}

.price {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--basic-white);
  display: flex;
  justify-content: center;
  width: 83px;
}

.text-price {
  margin: 0;
  padding-right: 5px;
}

.max-price {
  margin-left: auto;
}

.price-number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  margin-top: 3px;
  width: 35px;
  outline: none;
  border: none;
  color: var(--basic-white);
}

.price-number::placeholder {
  font-weight: 400;
  color: var(--basic-white);
}

.price-controls:before {
  content: "";
  height: 22px;
  width: 2px;
  background: var(--basic-white);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
}

.range-filter {
  margin-top: 13px;
  width: 317px;
}

.range-controls {
  margin-top: 20px;
  position: relative;
}

.scale {
  height: 2px;
  background: var(--special-white);
}

.bar {
  width: 248px;
  height: 2px;
  background: var(--basic-white);
}

.toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-gray--controls);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-gray--shadow);
  cursor: pointer;
}

.toggle:hover {
  width: 5px;
  height: 5px;
  border: 9px solid var(--basic-white);
}

.range-controls .toggle-max {
  left: 248px;
}

.button-show {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  background-color: transparent;
  border-radius: 2px;
  margin-top: 33px;
  margin-left: 80px;
}

.button-show:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-filter {
  align-self: flex-end;
}




