/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: local("Fonts"),
  url("../fonts/PTSans.woff2") format("woff2");
url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("Fonts"),
  url("../fonts/PTSans-Bold.woff2") format("woff2");
url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-extra-gray: #333333;
  --basic-white: #ffffff;
  --basic-light: #F2F2F2;
  --basic-light-gray: #EEEEEE;
  --basic-dark-gray: #666666;

  --special-blue: #81B3D2;
  --special-blue-extra: #669EC0;
  --special-blue-dark: #5496BD;
  --special-brown-light: #766357;
  --special-brown: #604E43;
  --special-brown-dark: #503E33;
  --special-dark: #231F20;
  --special-blue-gray: #BDBBBC;
}

/* Global */

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.thin-text {
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.gray-text {
  color: var(--basic-extra-gray);
}

.high-line {
  line-height: 26px;
}

/* Main navigation */
.main-header-logo {
  width: 138px;
  height: 70px;
}

.main-navigation {
  background-color: var(--basic-white);
}

/* Site navigation */

.navigation-item {
  color: var(--basic-black);
}

.navigation-item:hover {
  color: var(--special-blue);
}

.navigation-item:focus {
  color: var(--basic-black);
}

.navigation-item:active {
  color: var(--special-brown-light);
}

/* Features */
.features {
  text-align: center;
}

.title {
  font-size: 21px;
}

.feature-blue {
  color: var(--basic-white);
  background-color: var(--special-blue);
}

.feature-gray {
  background-color: var(--basic-light-gray);
}

.appointment {
  text-align: center;
}

.appointment-title {
  font-size: 30px;
  line-height: 24px;
}

.appointment-info {
  line-height: 24px;
}

.button-brown {
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--special-brown-light);
  border: none;
}

.button-brown:hover {
  background-color: var(--special-brown);
}

.button-brown:focus {
  background-color: var(--special-brown-dark);
}

.main-footer {
  background-color: rgba(var(--basic-white), 0.9);
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.social-list {
  text-align: center;
}

.social-item-button {
  color: var(--basic-white);
  background-color: var(--special-blue);
}

.social-item-button:hover {
  background-color: var(--special-blue-extra);
}

.social-item-button:focus {
  background-color: var(--special-blue-dark);
}

.text-copyright {
  line-height: 26px;
  font-weight: 400;
}


/* Стилизация внутренней страницы*/









